* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(41, 52, 59);
  height: 13vh;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

ul li {
  list-style-type: none;
}

ul li a {
  font-size: 28px;
  padding: 0px 15px;
  text-decoration: none;
  color: #fff;
}

.active {
  color: rgb(15, 180, 221);
}
