@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,900;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
}

.formcointainer {
  /* position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: aqua; */

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(107, 109, 109);
}

.form_wrap {
  color: #fff;

  background: rgb(54, 81, 189);
}
.text_align {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 2px;
  background: rgb(248, 135, 6);
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
.form {
  margin: 10px 0px;
  max-width: 100%;
}

.textarea {
  height: 100px;
  max-width: 80%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0px 90px;
}

.top {
  height: 70px;
  max-width: 100%;
  padding: 0px 25px;

  font-family: "Poppins", sans-serif;
}
.top input:nth-child(1) {
  padding: 10px 0px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #fff;
  color: rgb(233, 108, 6);
  font-weight: lighter;
  margin: 2px 20px;
  font-size: 22px;
}
.top input:nth-child(2) {
  padding: 10px 0px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #fff;
  color: rgb(165, 93, 0);
  font-weight: lighter;
  margin: 2px 30px;
  font-size: 22px;
}

.top input:nth-child(2)::placeholder {
  color: rgb(251, 215, 9);
  letter-spacing: 2px;
  font-size: 15px;
}

.top input:nth-child(1)::placeholder {
  color: rgb(248, 156, 8);
  letter-spacing: 2px;
  font-size: 15px;
}

.top input:nth-child(2):focus {
  border-bottom: 2px solid rgb(3, 141, 49);
}

.top input:nth-child(1):focus {
  border-bottom: 2px solid rgb(3, 141, 49);
}

.medium {
  height: 70px;
  max-width: 100%;
  padding: 0px 25px;
  font-family: "Poppins", sans-serif;
}

.medium input:nth-child(1) {
  padding: 10px 0px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #fff;
  color: rgb(233, 108, 6);
  font-weight: lighter;
  margin: 2px 20px;
  font-size: 22px;
}
.medium input:nth-child(2) {
  padding: 10px 0px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid #fff;
  color: rgb(165, 93, 0);
  font-weight: lighter;
  margin: 2px 30px;
  font-size: 22px;
}

.medium input:nth-child(2)::placeholder {
  color: rgb(251, 215, 9);
  letter-spacing: 2px;
  font-size: 15px;
}

.medium input:nth-child(1)::placeholder {
  color: rgb(248, 156, 8);
  letter-spacing: 2px;
  font-size: 15px;
}

.medium input:nth-child(2):focus {
  border-bottom: 2px solid rgb(3, 141, 49);
}

.medium input:nth-child(1):focus {
  border-bottom: 2px solid rgb(3, 141, 49);
}

.btn button {
  width: 100%;
  padding: 10px;
  max-width: 80%;
  margin: 10px 60px;
  background: rgb(200, 124, 1);
  color: #fff;
  outline: none;
  border-radius: 10px;
  border: none;
}
